@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background: #555;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 5px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8;
}
